## This file must *NOT* be checked into Version Control Systems,
# as it contains information specific to your local configuration.
#
# Location of the Android SDK:
# For Windows:
sdk.dir=C\:\\Users\\YourUsername\\AppData\\Local\\Android\\Sdk

# For macOS:
# sdk.dir=/Users/YourUsername/Library/Android/sdk

# For Linux:
# sdk.dir=/home/YourUsername/Android/Sdk

# Rename this file to local.properties and update the sdk.dir path

